
.btn{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 18px;    /* 아이콘의 크기조절 */
    cursor: pointer;

}
.btn :hover{
    background-color: dodgerblue;

}